<ion-header>
  <ion-toolbar mode="ios">
      <ion-button color="naranga" (click)="return()">Back</ion-button>
    <ion-title> Directorio </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div>
    <ion-input [(ngModel)]="nombreN" placeholder="Nombre"></ion-input>
    <ion-input [(ngModel)]="apellidoN" placeholder="Apellido"></ion-input>
    <ion-input [(ngModel)]="numeroN" placeholder="Número de telefono" type="number"></ion-input>
    <ion-datetime done-text="Listo" cancel-text="Cancelar" placeholder="Fecha de nacimiento" [(ngModel)]="fechaN"></ion-datetime>
  </div>

  <ion-button color="naranga" (click)="anadir()">Guardar</ion-button>
  <ul>
    <ion-card *ngFor="let listH of lista"> 
      <ion-item color="tarjeta">
      <ion-icon name="person" slot="start"></ion-icon>
      <ion-card-title>{{listH.nom}} {{listH.apel}}</ion-card-title>
      </ion-item>
      <ion-item color="fondo">
      <ion-icon name="call" slot="start"></ion-icon>
      <p>
        <ion-label (click)="callNumber(listH.tel)">Numero de telefono: {{listH.tel}}</ion-label>
      </p>
    </ion-item>
    <ion-item color="fondo">
      <ion-icon name="calendar" slot="start"></ion-icon>
      <p color="primary">Fecha de nacimiento (yy/mm/dd): {{listH.fec}}</p>
    </ion-item>
      <ion-button fill="clear" (click)="edit(listH.id)" color="success">Editar</ion-button>
      <ion-button fill="clear" (click)="elim(listH.id)" color="danger">Eliminar</ion-button>
    
    </ion-card>
  </ul>
</ion-content>
