<ion-header>
  <ion-toolbar mode="ios">
    <ion-button color="naranga" (click)="return()">Back</ion-button>
    <ion-title>Galeria</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size="6" *ngFor="let fotish of photoService.fotos">
        <ion-item (click)="fotoPresionar()">
          <ion-img [src]="fotish.data"></ion-img>
        </ion-item>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-fab vertical="bottom" horizontal="center" slot="fixed" >
    <ion-fab-button (click)="photoService.tomarFoto()" color="naranga">
      <ion-icon name="camera"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  <!--<ion-button (click)="holas()">PRESIONAME</ion-button>-->
</ion-content>
