<ion-header>
  <ion-toolbar mode="ios">
    <ion-button color="naranga" (click)="return()">Back</ion-button>
    <ion-title>Notas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>


<ion-list>

    <ion-item-group>
      <ion-item-divider mode="ios" >Nueva nota</ion-item-divider>
        <ion-item>
        <ion-input [(ngModel)]="tituloN" placeholder="Titulo de la nota"></ion-input>
      </ion-item>
      <ion-item>
        <ion-input [(ngModel)]="contentN" placeholder="Descripcion"></ion-input>
      </ion-item>
      <ion-item>
          <ion-grid>
          <ion-row>
            <ion-col></ion-col>
            <ion-col>
          <ion-button color="naranga" (click)="addNote()">Agregar</ion-button>
            </ion-col>
            <ion-col></ion-col>
          </ion-row>
          </ion-grid>
      </ion-item>
    </ion-item-group>
</ion-list>



  
  <ul>
    <ion-card *ngFor="let use of lista"> 
      <ion-item color="tarjeta">
      <ion-card-title>{{use.title}}</ion-card-title>
      </ion-item>

    <ion-item color="fondo">
      <p align="center" color="primary"> {{use.content}}</p>
    </ion-item>
    <ion-item color="fondo">
      <ion-button color="naranga" (click)="eraseNote(use.id)">Erase</ion-button>
    </ion-item>
    
    </ion-card>
  </ul>
  
  <!--ion-list *ngFor="let use of lista">
    <ion-item>
      <ion-label class="ion-text-wrap">
        <h2>{{use.title}}</h2>
        <h4>{{use.content}}</h4>
      </ion-label>
      <ion-button (click)="eraseNote(use.id)">Erase</ion-button>
    </ion-item>
  </ion-list-->
</ion-content>
